*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url("img/gplaypattern.png")
}

.container{
  background-color: white;
  margin-top: 20px;
}

.navbar{
  background-color: hsl(0, 0%, 100%);
}

.name{
  background-color: hsl(177, 39%, 48%);
  color: white;
  padding: 20px 10px;
  font-family: 'Georgia', Times, Times 'New Roman', serif;
}

ul{
  list-style-type: none;
  float: right;
}

.teal{
  color: hsl(177, 39%, 48%);
}

hr{
  border-top: solid 2px #dddddd;
}